# Pandas

In [12]:
import numpy as np

In [13]:
import pandas as pd

In [18]:
labels = ['a','b','c']
mData = [10,20,30]
arr = np.array(mData)
d={'a':10,'b':20,'c':30}

In [19]:
pd.Series(data=mData)

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(data=mData,index=labels)

a    10
b    20
c    30
dtype: int64

In [21]:
pd.Series(mData,labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [23]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [24]:
d

{'a': 10, 'b': 20, 'c': 30}

In [27]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [49]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [50]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [51]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [52]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [53]:
ser2['USA']

1

In [54]:
ser3 = pd.Series(data=labels)

In [55]:
ser3

0    a
1    b
2    c
dtype: object

In [56]:
ser3[0]

'a'

In [57]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [58]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [60]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [61]:
ser1 * ser2

Germany     4.0
Italy       NaN
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64